/*
COLORS
#02b3e4
#2d3c49
#7d97ad
*/

html,
body,
section,
main,
header,
article,
div,
p {
    margin: 0;
    padding: 0;
}

body {
    color: #2d3c49;
}

h2 {
    font-weight: 400;
    font-size: 1.9em;
    letter-spacing: .2em;
    margin: .2em 0;
    ;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1140px;
    margin: 15px auto 0 auto;
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.hero img {
    width: 100%;
}

header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    border-bottom: 4px solid #7d97ad;
}

header img {
    width: 120px;
    height: 120px;
    position: relative;
    left: -25px;
}

.name {
    font-size: 3em;
}

.job {
    font-size: 1.5em;
    font-weight: 400;
}

.name,
.job,
.featured-grid h2 {
    text-transform: uppercase;
}

.featured-title {
    font-size: 2em;
    color: #7d97ad;
    font-weight: 400;
    margin-bottom: 0.3em;
    padding: 0 20px;
}

.name,
.job {
    display: block;
    text-align: right;
}

.featured-portfolio {
    display: flex;
    align-items: stretch;
}

.featured-grid {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 25px;
    width: 33%;
}

.featured-grid:not(:last-child) {
    margin-right: 20px;
}

.featured-grid-image {
    max-height: 400px;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
    font-size: .8em;
    font-weight: 400;
}

@media screen and (min-width: 600px) and (max-width: 1050px) {
    .featured-portfolio {
        display: block;
    }

    .featured-grid {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: left;
        margin-bottom: 20px;
    }

    .featured-grid:last-child {
        margin-bottom: 10px;
    }
    
    .featured-grid img {
        width: 33%;
        flex-grow: 1;
    }

    .description {
        flex-grow: 2;
        width: 67%;
        padding-left: 20px;
    }
}

@media screen and (max-width: 599px) {
    h2 {
        letter-spacing: initial;
    }

    header {
        display: block;
    }

    header img,
    .author {
        margin: 0 auto;
    }

    .name {
        font-size: 2.3em;
    }

    .job {
        font-size: 1.5em;
    }

    .name,
    .job,
    h1 {
        text-align: center;
    }

    .featured-portfolio {
        display: block;
    }

    .featured-grid {
        width: 100%;
    }

    .featured-grid:last-child {
        margin-bottom: 10px;
    }
    
    header img {
        position: static;
    }
}